@font-face {
  font-family: "geomanistblack";
  font-display: swap;
  src:
    url("https://storage.googleapis.com/hustlers/fonts/geomanist-black-webfont.woff2") format("woff2"),
    url("https://storage.googleapis.com/hustlers/fonts/geomanist-black-webfont.woff") format("woff");
}

