<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Hustlers Club NYC</title>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
        <link rel='stylesheet' href='https://hackers-content.nyc3.digitaloceanspaces.com/sites/hustlers/css/style.css'/>
        <link rel='stylesheet' href='https://hackers-content.nyc3.digitaloceanspaces.com/sites/hustlers/css/fonts.css'/>
        <link rel="shortcut icon" type="/img/png" href="https://hackers-content.nyc3.digitaloceanspaces.com/sites/hustlers/img/icon.png"/>
        <meta property="og:image" content="https://hackers-content.nyc3.digitaloceanspaces.com/sites/hustlers/img/hustlersshare.jpg">
        <meta property="og:description" content="New York's Finest Gentleman's Club. Invitation only."/>
        <meta property="og:title" content="Hustlers Club, NYC"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="Hustlers Club, NYC"/>
        <meta name="twitter:description" content="New York's Finest Gentleman's Club. Invitation only."/>
        <meta property="og:url" content="https://hustlers.club/"/>
    </head>

    <body>
        <div class="container">
            <div class="intro">
                <h1>{{ .Title }}</h1>
                <h2>{{ .TagLine }}</h2>
                <p>Invitation only.</p>
            </div>
            <video class="videoObject center" autoplay loop autobuffer muted playsinline id="myVideo">
                <source src="https://hackers-content.nyc3.digitaloceanspaces.com/sites/hustlers/vid/hustlers.mov" type="video/mp4">
            </video>
        </div>
        <script type="text/javascript">
            let _gauges = _gauges || [];
            (function() {
                let t   = document.createElement('script');
                t.type  = 'text/javascript';
                t.async = true;
                t.id    = 'gauges-tracker';
                t.setAttribute('data-site-id', '5ec09d48aa5bf01d3b658f87');
                t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
                t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
                let s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(t, s);
            })();
        </script>
    </body>

</html>